.contato-bg {
  background-color: var(--cor-1);
}

.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  padding: 60px 40px;
}

.contato a {
  transition: 0.3s;
}

.contato a:hover {
  color: var(--cor-p2);
}

.contato h2 {
  place-self: center;
}

.contato-lista li {
  display: grid;
  grid-template-columns: 35px auto;
  gap: 20px;
}

.contato-lista li + li {
  margin-top: 40px;
}

.contato-lista li img{
  justify-self: center;
}

.contato-lista li a  {
  align-self: center;
}

@media (max-width: 950px) {
  .contato {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media (max-width: 500px) {
  .contato-lista {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .contato-lista {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .contato-lista li a {
    display: none;
  }

  .contato-lista {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }  

  .contato-lista li {
    display: inline-block;
  }

  .contato-lista li + li {
    margin-top: 0px;
  }
}