.cursos-bg {
  background-color: var(--cor-1);
}

.cursos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 40px;
  padding: 60px 40px;
}

.cursos-lista {
  justify-self: start;
  width: 100%;
}

.cursos-lista li {
  gap: 20px;
  position: relative;
}

.cursos-lista li::before {
  content: "";
  display: block;
  width: 11px;
  height: 10px;
  background: linear-gradient(90deg, #8693D4 0%, #B1BBED 100%);
  border-radius: 50%;
  position: absolute;
  left: -21px;
  top: 4px;
}

.cursos-lista span {
  color: var(--cor-s3);
}

.cursos-dev li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cursos-dev {
  margin-bottom: 60px;
}

.cursos-lista h3 {
  margin-bottom: 16px;
}

.cursos-idiomas li{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1130px) {
  .cursos {
    grid-template-columns: 1fr;
  }

  .cursos-lista {
    justify-self: center;
    width: 80%;
  }

  .cursos-lista span {
    align-self: center;
    justify-self: end;
    text-align: right;
  }
}