.footer {
  padding: 40px;
  background-color: var(--c3);
} 

.footer p{
  text-align: center;
  font-family: var(--titulo);
  font-size: .875rem;
}

@media (max-width: 1200px) {
  .footer{
    background-color: var(--b1);
  }
}

@media (max-width: 800px) {
  .footer p{
    font-size: .75rem;
  }

  .footer {
    padding: 20px;
  } 
}

@media (max-width: 450px) {
  .footer p{
    font-size: .6rem;
  }
}