.formacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-content: center;
  align-items: center;
  padding: 60px 40px;
}

.formacao h2 {
  text-align: center;
}

.formacao-cursos {
  justify-self: center;
}

.formacao-cursos div{
  background-color: var(--cor-1);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  max-width: 500px;
}

.formacao-cursos div:first-child {
  margin-bottom: 40px;
}

@media (max-width: 1120px) {
  .formacao {
    grid-template-columns: 1fr;
  }

  .formacao h2 {
    grid-row: 1;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .formacao-cursos div{
    max-width: 300px;
  }
}