.principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.principal-imagem {
  justify-self: center;
}

.principal-imagem img {
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.27));
  filter: 2px 2px 4px rgba(0, 0, 0, 0.27);;
}

.principal-conteudo h1 {
  margin-bottom: 20px;
}

.principal-conteudo p,
.principal-conteudo span  {
  margin-bottom: 40px;
  position: relative;
  margin-left: 34px;
}

.principal-conteudo span {
  margin-bottom: 0px;
}

.principal-conteudo p::before,
.principal-conteudo span:before {
  content: "";
  display: block;
  background-image: url("../../img/school-dm.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  left: -34px;
  top: 0px;
}

.principal-conteudo span::before {
  background-image: url("../../img/map-dm.svg");
}

@media (max-width: 1000px) {
  .principal-conteudo h1 {
    font-size: 4rem;
    margin-bottom: 15px;

  }

  .principal-conteudo p {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }

  .principal-conteudo span {
    font-size: 1.15rem;
  }
}

@media (max-width: 850px) {
  .principal {
    grid-template-columns: 1fr;
    padding-top: 40px;
  }

  .principal-imagem img {
    max-width: 300px;
  }

  .principal-conteudo h1 {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .principal-conteudo h1 {
    font-size: 3rem;
    margin-bottom: 15px;
  }

  .principal-conteudo p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .principal-conteudo span {
    font-size: 1rem;
  }
}