.sobre-bg {
  background: var(--cor-1);
}

.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-content: center;
  place-items: center;
  padding: 60px 40px;
}

.sobre-texto p:first-child {
  margin-bottom: 20px;
}

@media (max-width: 1120px) {
  .sobre {
    grid-template-columns: 1fr;
  }

  .sobre-texto p {
    max-width: 70ch;
  }
}