html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  color: var(--m13);
  background-color: var(--b1);
}
h1,
h2,
h3,
p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img, svg {
  max-width: 100%;
  display: block;
}

.bg-1, .bg-2 {
  background: transparent url("../../img/dec1.svg") no-repeat right;
  background-size: contain;
  height: 600px;
}

.bg-2 {
  background: transparent url("../../img/dec2.svg") no-repeat left top;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 1160px) {
  .bg-1, .bg-2 {
    background-image: none;
  }
}