@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

:root {
  --c1: #FAFAFA;
  --c2: #E5E5E5;
  --c3: #CFCFCF;
  --m13: #160A0B;
  --corpo:'Work Sans', sans-serif;
  --titulo: 'Spartan', sans-serif;
}

body {
  margin: 0px;
  color: var(--m13);
}

h1, h2, h3, p {
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Header */

.header {
  width: 100%;
  background: var(--c1);
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.header-container {
  max-width: 1200px;
  padding: 44px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  
}

.header-menu a {
  display: block;
  font-size: 1.25rem;
  padding: 10px 20px;
  color: var(--m13);
  font-family: var(--titulo);
}

.header-menu-sobre, .header-menu-formacao, .header-menu-projetos{
  position: relative;
}

.header-menu-sobre::after, .header-menu-formacao::after, .header-menu-projetos::after {
  content: "";
  display: block;
  width: 11px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #160A0B;
  border-radius: 6px;
  position: absolute;
  top: 15px;
  right: -22px;
}

@media (max-width: 1050px) {
  .header-container {
    padding: 30px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px ;
  }

  .header-menu {
    display: grid;
    grid-template-columns: auto auto;
  }

  .header-menu-sobre::after, .header-menu-projetos::after {
    right: 10px;
  }

  .header-menu-formacao::after {
    display: none;
  }
}

@media (max-width: 950px) {
  .header-menu-sobre::after, .header-menu-projetos::after {
    display: none;
  }
}

@media (max-width: 750px) {
  .header-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .header-container a {
    margin: 0px;
    place-self: center;
  }

  .header-menu {
    grid-template-columns: auto auto;
  }

  .header-menu-sobre, .header-menu-projetos{
    justify-self: end;
  }

  .header-menu li a {
    text-align: center;
    background: var(--c2);
    border-radius: 4px;
    padding: 15px 20px;
    display: inline-block;
    height: 20px;
    width: 110px;
  } 
}

@media (max-width: 400px) {

  .header-container {
    gap: 20px;
  }
  .header-menu li a {
    font-size: 1rem;
    padding: 10px 15px;
    height: 15px;
    width: 80px;
  } 

  .header-menu {
    gap: 20px;
  }
}