@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,700;1,400&display=swap');

body {
  margin: 0px;
  font-family: 'Work Sans', Arial, sans-serif;
  color: #160A0B;
}

h1, h2, h3, p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}