@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

:root {
  --c1: #FAFAFA;
  --m13: #160A0B;
  --corpo:'Work Sans', sans-serif;
  --titulo: 'Spartan', sans-serif;
}

body {
  margin: 0px;
  color: var(--m13);
}

h1, h2, h3, p {
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Header */

.header {
  width: 100%;
  background: var(--c1);
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.header-container {
  max-width: 1200px;
  padding: 44px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  
}

.header-menu a {
  display: block;
  font-size: 1.25rem;
  padding: 10px 20px;
  color: var(--m13);
  font-family: var(--titulo);
}

.header-menu-sobre, .header-menu-formacao, .header-menu-projetos{
  position: relative;
}

.header-menu-sobre::after, .header-menu-formacao::after, .header-menu-projetos::after {
  content: "";
  display: block;
  width: 11px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #160A0B;
  border-radius: 6px;
  position: absolute;
  top: 15px;
  right: -22px;
}